<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}" lang="en">
<head>
    <title>About - CT3</title>
    <link rel="stylesheet" th:href="@{/css/about.css?v=18781}">
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="about-container">
            <div class="text-center">
                <div class="logo-container">
                    <img th:src="@{/images/ct3text.png}" alt="CT3 Logo" src=""/>
                </div>
                <h1 class="app-title">
                    Creative Time And Task Tracker
                </h1>
                <div class="version-card">
                    <p class="version-info">Version <span th:text="${@environment.getProperty('cttt.version')}">6.7.2</span></p>
                </div>
                <div class="copyright-section">
                    <p class="mb-0">© 2024 thlhody. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>